@{
  Layout = "_Layout";
}

@using Tracker.Models;

<h3><b><i>@Model["vendor"].Name Orders</i></b></h3>
<br>

<ol>
@foreach (Order order in @Model["orders"])
{
  <li><i><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Description</a></i></li>
}
</ol>

<h3><a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new order</a></h3>
<br>
<p><a href='/vendors'>Return to vendor list</a></p>
<p><a href='/'>Return to Main Page</a></p>
