@{
  Layout = "_Layout";
}
@using Tracker.Models;
<br>
<br>
<h1 style="margin-left: 40px"><b><i>@Model["vendor"].Name Orders</i></b></h1>
<br>

<ol style="margin-left: 40px">
@foreach (Order order in @Model["orders"])
{
  <li><i><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Description</a></i></li>
}
</ol>

<h3 style="margin-left: 40px"><a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new order</a></h3>
<br>
<p style="margin-left: 40px"><a href='/vendors'>Return to vendor list</a></p>
<p style="margin-left: 40px"><a href='/'>Return to Main Page</a></p>
